<!DOCTYPE html>
<html>

<head>
    <title>naYana Drawing APP</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='draw.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_draw.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" charset="utf-8" />

</head>

<header>
    naYana Drawing App
</header>

<body>
    <h1>Results</h1>
    <div class="results">
        {%if prediction%}
        <h2 style="color:red; font-size: 3em;">Looks like <span style="font-family: naYana;">{{ prediction }}</span></h2>
        {%else%}
         <h2 style="color:red;">Nothing to predict ! </h2>
        {%endif%}
    </div>
    <div class = "figure">
        <img src = "{{url_for('static', filename='Alphabet1-01.png')}}" width = "1801" height = "650">
    </div>>
</body>

</html>